<section class="about section" id="about">
  <h2 class="section__title">About Me</h2>
  <span class="section__subtitle">My introduction</span>

  <div class="about__container container grid">
    <img src="assets/img/about.jpg" alt="" class="about__img" />
    <div class="about__data">
      <p class="about__description">{% include text/about.md%}</p>

      <div class="about__info">
        <div>
          <span class="about__info-title" id="year"></span>
          <span class="about__info-name"
            >Years <br />
            Old</span
          >
        </div>

        <div>
          <span class="about__info-title" id="years-dev"></span>
          <span class="about__info-name"
            >Years <br />
            Web Development
          </span>
        </div>

        <div>
          <span class="about__info-title">04</span>
          <span class="about__info-name"
            >Years <br />
            Lifeguard</span
          >
        </div>
      </div>

      <div class="about__CVs">
        <!-- <div class="about__buttons">
          <a target="_blank" href="CV-en" class="button button--flex">
            Download english CV
            <i class="uil uil-download-alt button__icon"></i>
          </a>
        </div> -->
        <div class="about__buttons">
          <a
            target="_blank"
            href="https://cv.litschgy.fr"
            class="button button--flex"
          >
            Open CV
            <i class="uil uil-link button__icon"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
