<section class="modules section" id="modules">
  <h2 class="section__title">Personnal work and projects</h2>
  <div class="modules__container container grid">
    <!-- ===== Developper Churros ===== -->
    <div class="modules__content">
      <div>
        <i class="uil uil-brackets-curly modules__icon"></i>
        <h3 class="modules__title">
          Developer for <br />
          student app AEn7
        </h3>
      </div>

      <span
        class="button button--flex button--small button--link modules__button"
      >
        View More
        <i class="uil uil-arrow-right button__icon"></i>
      </span>
      <div class="modules__modal">
        <div class="modules__modal-content">
          <h4 class="modules__modal-title">What I did :</h4>
          <i class="uil uil-times modules__modal-close"></i>

          <ul class="modules__modal-modules grid">
            <li class="modules__modal-module">
              <i class="uil uil-check-circle modules__modal-icon"></i>
              <p>{% include text/churros.md%}</p>
              <img src="assets/img/churros.png" alt="l'appli churros" />
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!-- ===== Responsible for clubs ===== -->
    <div class="modules__content">
      <div>
        <i class="uil uil-university modules__icon"></i>
        <h3 class="modules__title">
          Responsible for clubs <br />
          AEn7
        </h3>
      </div>

      <span
        class="button button--flex button--small button--link modules__button"
      >
        View More
        <i class="uil uil-arrow-right button__icon"></i>
      </span>
      <div class="modules__modal">
        <div class="modules__modal-content">
          <h4 class="modules__modal-title">My skillMill results</h4>
          <i class="uil uil-times modules__modal-close"></i>

          <ul class="modules__modal-modules grid">
            <li class="modules__modal-module">
              <i class="uil uil-check-circle modules__modal-icon"></i>
              <img
                src="assets/img/All_skills.png"
                alt="Erreur de chargement de l'image"
              />
            </li>
          </ul>
        </div>
      </div>
    </div>

    <!-- ===== Treasurer of CAn7 ===== -->
    <div class="modules__content">
      <div>
        <i class="uil uil-coins modules__icon"></i>
        <h3 class="modules__title">
          Treasurer of <br />
          CAn7
        </h3>
      </div>

      <span
        class="button button--flex button--small button--link modules__button"
      >
        View More
        <i class="uil uil-arrow-right button__icon"></i>
      </span>
      <div class="modules__modal">
        <div class="modules__modal-content">
          <h4 class="modules__modal-title">My skillMill results</h4>
          <i class="uil uil-times modules__modal-close"></i>

          <ul class="modules__modal-modules grid">
            <li class="modules__modal-module">
              <i class="uil uil-check-circle modules__modal-icon"></i>
              <img
                src="assets/img/All_skills.png"
                alt="Erreur de chargement de l'image"
              />
            </li>
          </ul>
        </div>
      </div>
    </div>

    <!-- ===== Protection civile ===== -->
    <div class="modules__content">
      <div>
        <i class="uil uil-heart-rate modules__icon"></i>
        <h3 class="modules__title">
          Rescuer at <br />
          Protection Civile
        </h3>
      </div>

      <span
        class="button button--flex button--small button--link modules__button"
      >
        View More
        <i class="uil uil-arrow-right button__icon"></i>
      </span>
      <div class="modules__modal">
        <div class="modules__modal-content">
          <h4 class="modules__modal-title">What I did :</h4>
          <i class="uil uil-times modules__modal-close"></i>

          <ul class="modules__modal-modules grid">
            <li class="modules__modal-module">
              <i class="uil uil-check-circle modules__modal-icon"></i>
              <p>
                Since 2021, I've been a first-aider with the French civil
                protection organization, and I regularly attend events to ensure
                the safety of the public.
              </p>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <!-- ===== Developper RAID INSA INP ===== -->
    <div class="modules__content">
      <div>
        <i class="uil uil-brackets-curly modules__icon"></i>
        <h3 class="modules__title">
          Developer for <br />
          RAID INSA-INP
        </h3>
      </div>

      <span
        class="button button--flex button--small button--link modules__button"
      >
        View More
        <i class="uil uil-arrow-right button__icon"></i>
      </span>
      <div class="modules__modal">
        <div class="modules__modal-content">
          <h4 class="modules__modal-title">What I did :</h4>
          <i class="uil uil-times modules__modal-close"></i>

          <ul class="modules__modal-modules grid">
            <li class="modules__modal-module">
              <i class="uil uil-check-circle modules__modal-icon"></i>
              <p>
                I developed the registration application for the Raid INSA INP
                association in php
              </p>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <!-- ===== The climate Fresk ===== -->
    <div class="modules__content">
      <div>
        <i class="uil uil-image-check modules__icon"></i>
        <h3 class="modules__title">
          The climate <br />
          Fresk
        </h3>
      </div>

      <span
        class="button button--flex button--small button--link modules__button"
      >
        View More
        <i class="uil uil-arrow-right button__icon"></i>
      </span>
      <div class="modules__modal">
        <div class="modules__modal-content">
          <h4 class="modules__modal-title">The climate Fresk</h4>
          <i class="uil uil-times modules__modal-close"></i>

          <ul class="modules__modal-modules grid">
            <li class="modules__modal-module">
              <i class="uil uil-check-circle modules__modal-icon"></i>
              <p>
                In september 2021 I participated in a climate fresk workshop. We
                were given 42 cards that we had to interconnect them according
                to their cause and effect links. A facilitator help us to build
                our fresk.
              </p>
              <img src="assets/img/fresque.jpg" alt="" class="modules__img" />
              This is a wonderful initiative to make future engineers aware of
              the climate challenges that await them. I was personally shocked
              to see that some students had not yet realized the impact on the
              planet of some of their actions, such as flying, eating meat,
              consuming out of season products
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!-- ===== L'enfer en est pavé ===== -->
    <div class="modules__content">
      <div>
        <i class="uil uil-presentation-minus modules__icon"></i>
        <h3 class="modules__title">Managing diversity in the workplace</h3>
      </div>

      <span
        class="button button--flex button--small button--link modules__button"
      >
        View More
        <i class="uil uil-arrow-right button__icon"></i>
      </span>
      <div class="modules__modal">
        <div class="modules__modal-content">
          <h4 class="modules__modal-title">
            Managing diversity in the workplace
          </h4>
          <i class="uil uil-times modules__modal-close"></i>

          <ul class="modules__modal-modules grid">
            <li class="modules__modal-module">
              <i class="uil uil-check-circle modules__modal-icon"></i>
              <h4>&nbsp;« L'enfer en est pavé... »</h4>
              <p>
                In November 2021 I was invited to watch a short film "l'Enfer
                est pavé". The screening of the movie was interspersed with
                debate about diversity. <br />
                This short film made us think about goal number 5 of sustainable
                development.
                <mark
                  >"Achieve gender equality and empower all women and
                  girls"</mark
                >
                In "L'Enfer en est pavé," the characters all try to look like a
                standard in order to win a state-sponsored contest. However, we
                quickly realize that we do not know what this standard is and
                that it is problematic to look for it. Rather than trying to
                make people equal, we try to make them all the same.
              </p>
              <img
                src="assets/img/L_Enfer_En_Est_Pave.png"
                alt=""
                class="modules__img"
              />
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!-- ===== Sulitest ===== -->
    <div class="modules__content">
      <div>
        <i class="uil uil-club modules__icon"></i>
        <h3 class="modules__title">Sulitest</h3>
      </div>

      <span
        class="button button--flex button--small button--link modules__button"
      >
        View More
        <i class="uil uil-arrow-right button__icon"></i>
      </span>
      <div class="modules__modal">
        <div class="modules__modal-content">
          <h4 class="modules__modal-title">Sulitest</h4>
          <i class="uil uil-times modules__modal-close"></i>

          <ul class="modules__modal-modules grid">
            <li class="modules__modal-module">
              <i class="uil uil-check-circle modules__modal-icon"></i>
              <h4>&nbsp;Sulitest</h4>
              <p>
                In october 2021, I did the Sulitest. The purpose of the test was
                to measure and improve our knowledge about sustainability.
              </p>
              <a
                download=""
                href="assets/pdf/Sullitest.pdf"
                class="download__link"
              >
                My result<i class="uil uil-download-alt button__icon"></i>
              </a>
              <p>
                What stays in my mind after this test is the definition of
                sustainable development made by the UN in 1987 : <br />
                <mark>
                  "Development that meets the needs of the present without
                  compromising the ability of future generations to meet their
                  own needs"</mark
                >
                <br />
                as well as the 17 sustainable development goals adopted by the
                UN in 2015 like gender equality, no poverty, quality education,
                good health and well-being or climate action.
              </p>
              <img src="assets/img/17goals.png" alt="" class="modules__img" />
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!-- ===== Language ===== -->
    <div class="modules__content">
      <div>
        <i class="uil uil-globe modules__icon"></i>
        <h3 class="modules__title">Langage</h3>
      </div>

      <span
        class="button button--flex button--small button--link modules__button"
      >
        View More
        <i class="uil uil-arrow-right button__icon"></i>
      </span>
      <div class="modules__modal">
        <div class="modules__modal-content">
          <h4 class="modules__modal-title">Langage</h4>
          <i class="uil uil-times modules__modal-close"></i>

          <ul class="modules__modal-modules grid">
            <li class="modules__modal-module">
              <i class="uil uil-check-circle modules__modal-icon"></i>
              <h4>&nbsp;French</h4>
              <p>
                Native language. <br />
                I did a French level test "Orthodidacte" and I got a score of
                4/4.
              </p>
              <a
                download=""
                href="assets/pdf/orthodidacte.pdf"
                class="download__link"
              >
                My result to the test Orthodidacte<i
                  class="uil uil-download-alt button__icon"
                ></i>
              </a>
            </li>

            <li class="modules__modal-module">
              <i class="uil uil-check-circle modules__modal-icon"></i>
              <h4>&nbsp;Professional English</h4>
              <p>
                <mark
                  >OBJECTIVE: To improve English communication skills for
                  professional purposes by effectively completing the following
                  graded assignments:</mark
                >
              </p>

              <ul>
                <li>
                  <b>- Organising & Chairing a Meeting:</b> <br />
                  In small groups we organize a professional meeting every week
                  on a subject that we have previously chosen. This allow us to
                  develop skills for running effective meeting in English and
                  oral presentation skills and to build professional vocabulary.
                </li>
                <li>
                  <b>- Minutes of a meeting: </b><br />
                  Each week, a person is assigned to take notes and take stock
                  of the meeting. We practise for note-taking, professional
                  writing skills and we develop our ability to summarise and
                  write concisely.
                </li>
                <li><b>- Professional Interaction.</b></li>
              </ul>
            </li>

            <li class="modules__modal-module">
              <i class="uil uil-check-circle modules__modal-icon"></i>
              <h4>&nbsp;German</h4>
              <p>
                I grew up in Alsace, where German replaces English in primary
                school. I passed the B1 level certification in 2015 then I
                continued to practice German until I entered engineering school
                in 2021
              </p>
            </li>

            <li class="modules__modal-module">
              <i class="uil uil-check-circle modules__modal-icon"></i>
              <h4>&nbsp;Spanish</h4>
              <p>
                I took advantage of the opportunity to start a new language at
                ENSEEIHT to learn Spanish.
              </p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
