<section id="portfolio" class="portfolio section">
  <h2 class="section__title">Portfolio</h2>
  <span class="section__subtitle">Most recent work</span>
  <div class="portfolio__container container swiper">
    <div class="swiper-wrapper">
      <!-- ========== PORTFOLIO 0 ========== -->
      <div class="portfolio__content grid swiper-slide">
        <img src="assets/img/tas.png" alt="" class="portfolio__img" />

        <div class="portfolio__data">
          <h3 class="portfolio__title">2nd year intership report</h3>
          <p class="portfolio__description">
            Click on the button bellow to download my report.
          </p>
          <a
            target="_blank"
            href="assets/pdf/2nd-year.pdf"
            class="button button--flex button--small portfolio__button"
          >
            Download <i class="uil uil-arrow-right button__icon"></i>
          </a>
        </div>
      </div>
      <!-- ========== PORTFOLIO 1 ========== -->
      <!-- <div class="portfolio__content grid swiper-slide">
        <img src="assets/img/portfolio1.jpg" alt="" class="portfolio__img" />

        <div class="portfolio__data">
          <h3 class="portfolio__title">PPP</h3>
          <p class="portfolio__description">
            Click on the button bellow to open my PPP presentation
          </p>
          <a
            target="_blank"
            href="PPP"
            class="button button--flex button--small portfolio__button"
          >
            Download <i class="uil uil-arrow-right button__icon"></i>
          </a>
        </div>
      </div> -->

      <!-- ========== PORTFOLIO 2 ========== -->
      <div class="portfolio__content grid swiper-slide">
        <img src="assets/img/sdis.jpg" alt="" class="portfolio__img" />

        <div class="portfolio__data">
          <h3 class="portfolio__title">1st year internships reports</h3>
          <p class="portfolio__description">
            Click on the buttons bellow to download my 1st year internships
            reports
          </p>
          <a
            download=""
            href="assets/pdf/equador-internship.pdf"
            class="button button--flex button--small portfolio__button"
          >
            Ecuador <i class="uil uil-arrow-right button__icon"></i>
          </a>
          <a
            download=""
            href="assets/pdf/sdis.pdf"
            class="button button--flex button--small portfolio__button"
          >
            SDIS <i class="uil uil-arrow-right button__icon"></i>
          </a>
        </div>
      </div>

      <!-- ========== PORTFOLIO 4 ========== -->
      <div class="portfolio__content grid swiper-slide">
        <img src="assets/img/portfolio4.jpg" alt="" class="portfolio__img" />

        <div class="portfolio__data">
          <h3 class="portfolio__title">Civic engagment</h3>
          <p class="portfolio__description">
            Click on the button bellow to see my civic engagment projet
          </p>
          <a
            download=""
            href="assets/pdf/portfolio4.pdf"
            class="button button--flex button--small portfolio__button"
          >
            Download <i class="uil uil-arrow-right button__icon"></i>
          </a>
        </div>
      </div>
    </div>
    <div class="swiper-pagination"></div>
    <div class="swiper-button-prev">
      <i class="uil uil-angle-left-b swiper-portfolio-icon"></i>
    </div>
    <div class="swiper-button-next">
      <i class="uil uil-angle-right-b swiper-portfolio-icon"></i>
    </div>
  </div>
</section>
