<section class="qualification section" id="qualification">
  <h2 class="section__title">Qualification</h2>
  <span class="section__subtitle">My personal journey</span>

  <div class="qualification__container container">
    <div class="qualification__tabs">
      <div
        class="qualification__button button--flex qualification__active"
        data-target="#education"
      >
        <i class="uil uil-graduation-cap qualification__icon"></i>
        Studies
      </div>

      <div class="qualification__button button--flex" data-target="#work">
        <i class="uil uil-briefcase-alt qualification__icon"></i>
        Work
      </div>
    </div>

    <div class="qualification__sections">
      <!-- ==================== QUALIFICATION CONTENT 1 ==================== -->
      <div
        class="qualification__content qualification__active"
        data-content
        id="education"
      >
        <!-- ==================== Studie 1 ==================== -->
        <div class="qualification__data">
          <div>
            <h1 class="qualification__title">Software Engineer</h1>
            <span class="qualification__subtitle">INP-ENSEEIHT - Toulouse</span>
            <div class="qualification__calendar">
              <i class="uil uil-calendar-alt"></i>
              2021 - 2025
            </div>
          </div>

          <div>
            <span class="qualification__rounder"></span>
            <span class="qualification__line"></span>
          </div>
        </div>

        <!-- ==================== Studie 2 ==================== -->
        <div class="qualification__data">
          <div></div>

          <div>
            <span class="qualification__rounder"></span>
            <span class="qualification__line"></span>
          </div>

          <div>
            <h1 class="qualification__title">Prépa</h1>
            <span class="qualification__subtitle">MPSI - PSI</span>
            <div class="qualification__calendar">
              <i class="uil uil-calendar-alt"></i>
              2019 - 2021
            </div>
          </div>
        </div>

        <!-- ==================== Studie 3 ==================== -->
        <div class="qualification__data">
          <div>
            <h1 class="qualification__title">Sciences Baccalauréat</h1>
            <span class="qualification__subtitle">Engineering option</span>
            <div class="qualification__calendar">
              <i class="uil uil-calendar-alt"></i>
              2016 - 2019 
            </div>
          </div>

          <div>
            <span class="qualification__rounder"></span>
          </div>
        </div>
      </div>

      <!-- ==================== QUALIFICATION CONTENT 2 ==================== -->

      <div class="qualification__content" data-content id="work">
        <!-- ==================== Work 1 ==================== -->
        <div class="qualification__data">
          <div></div>

          <div>
            <span class="qualification__rounder"></span>
            <span class="qualification__line"></span>
          </div>
          <div>
            <h1 class="qualification__title">Full-stack Developper</h1>
            <span class="qualification__subtitle">Viveris - Toulouse</span>
            <div class="qualification__calendar">
              <i class="uil uil-calendar-alt"></i>
              November 2025 - ...
            </div>
          </div>
        </div>
        <!-- ==================== Work 2 ==================== -->
        <div class="qualification__data">
          <div>
            <h1 class="qualification__title">Mobile Developper</h1>
            <span class="qualification__subtitle">Moovance</span>
            <div class="qualification__calendar">
              <i class="uil uil-calendar-alt"></i>
              September 2024 - October 2025
            </div>
          </div>

          <div>
            <span class="qualification__rounder"></span>
            <span class="qualification__line"></span>
          </div>
        </div>

        <!-- ==================== Work 3 ==================== -->
        <div class="qualification__data">
          <div></div>

          <div>
            <span class="qualification__rounder"></span>
          </div>
          <div>
            <h1 class="qualification__title">Fullstack Developper</h1>
            <span class="qualification__subtitle"
              >Thales Alenia Space</span
            >
            <div class="qualification__calendar">
              <i class="uil uil-calendar-alt"></i>
              June - November 2023
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
